# Q1. List any five functions of the pandas library with execution.

#### head

In [1]:
import pandas as pd

# Create a DataFrame
data = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                     'B': ['a', 'b', 'c', 'd', 'e']})

# Display the first 3 rows of the DataFrame
print(data.head(3))

   A  B
0  1  a
1  2  b
2  3  c

In [3]:
data

   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

#### tail

In [5]:
data.tail(3)

   A  B
2  3  c
3  4  d
4  5  e

#### describe

In [6]:
data.describe()

              A
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

#### info

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [8]:
import pandas as pd

def reindex_dataframe(df):
    # Reset the index to the default numerical index
    df.reset_index(drop=True, inplace=True)
    
    # Create a new index starting from 1 and incrementing by 2
    new_index = pd.Index(range(1, len(df) * 2, 2))
    
    # Set the new index on the DataFrame
    df.set_index(new_index, inplace=True)
    
    return df

In [9]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({'A': [10, 20, 30],
                   'B': [40, 50, 60],
                   'C': [70, 80, 90]})

# Call the function to re-index the DataFrame
new_df = reindex_dataframe(df)

print(new_df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console. For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [20]:
import pandas as pd

def calculate_sum(df):
    # Get the first three values from the 'Values' column
    values = df['Values'].head(3)

    # Calculate the sum of the first three values
    sum_of_values = values.sum()

    # Print the sum to the console
    print("Sum of the first three values:", sum_of_values)

In [21]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Call the function to calculate the sum of the first three values
calculate_sum(df)

Sum of the first three values: 60

# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [22]:
import pandas as pd

def add_word_count(df):
    # Create a new column 'Word_Count' by applying the lambda function to each row of 'Text' column
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    
    return df

In [23]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({'Text': ['Hello, how are you?', 'I am doing great!', 'Python is awesome.']})

# Call the function to create the 'Word_Count' column
df_with_word_count = add_word_count(df)

print(df_with_word_count)

                  Text  Word_Count
0  Hello, how are you?           4
1    I am doing great!           4
2   Python is awesome.           3

# Q5. How are DataFrame.size() and DataFrame.shape() different?

The DataFrame.size() and DataFrame.shape() methods in pandas are used to obtain information about the dimensions of a DataFrame, but they provide different information:

# Q6. Which function of pandas do we use to read an excel file?

read_excel

# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [24]:
import pandas as pd

def extract_username(df):
    # Create a new column 'Username' by applying the lambda function to each row of 'Email' column
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    
    return df

In [25]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com']})

# Call the function to create the 'Username' column
df_with_username = extract_username(df)

print(df_with_username)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith

# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

In [26]:
import pandas as pd

def select_rows(df):
    # Use boolean indexing to select rows based on conditions
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    
    return selected_rows

In [27]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({'A': [4, 7, 2, 9],
                   'B': [8, 5, 11, 3],
                   'C': [6, 1, 0, 4]})

# Call the function to select rows based on conditions
selected_df = select_rows(df)

print(selected_df)

   A  B  C
1  7  5  1
3  9  3  4

# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [28]:
import pandas as pd

def calculate_stats(df):
    # Calculate mean, median, and standard deviation of 'Values' column
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()
    
    # Print the statistics
    print("Mean:", mean_value)
    print("Median:", median_value)
    print("Standard Deviation:", std_value)

In [29]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Call the function to calculate the statistics
calculate_stats(df)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [30]:
import pandas as pd

def calculate_moving_average(df):
    # Sort the DataFrame by 'Date' column if it's not already sorted
    df.sort_values('Date', inplace=True)
    
    # Calculate the moving average using a window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df

In [31]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({'Date': pd.date_range('2022-01-01', periods=10),
                   'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]})

# Call the function to calculate the moving average
df_with_moving_average = calculate_moving_average(df)

print(df_with_moving_average)

        Date  Sales  MovingAverage
0 2022-01-01     10           10.0
1 2022-01-02     20           15.0
2 2022-01-03     30           20.0
3 2022-01-04     40           25.0
4 2022-01-05     50           30.0
5 2022-01-06     60           35.0
6 2022-01-07     70           40.0
7 2022-01-08     80           50.0
8 2022-01-09     90           60.0
9 2022-01-10    100           70.0

# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

In [32]:
import pandas as pd

def add_weekday_column(df):
    # Convert 'Date' column to datetime type if it's not already
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Create the 'Weekday' column using the weekday name
    df['Weekday'] = df['Date'].dt.strftime('%A')
    
    return df

In [33]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({'Date': ['2022-01-01', '2022-01-02', '2022-01-03']})

# Call the function to create the 'Weekday' column
df_with_weekday = add_weekday_column(df)

print(df_with_weekday)

        Date   Weekday
0 2022-01-01  Saturday
1 2022-01-02    Sunday
2 2022-01-03    Monday